In [2]:
import geopandas as gpd
import pandas as pd

In [5]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/Data/UJIndoorLoc/'
file = 'trainingData.csv'

geoData = pd.read_csv(path + file)

geoData = geoData[['LATITUDE', 'LONGITUDE']]

geoData.head()

       LATITUDE  LONGITUDE
0  4.864921e+06 -7541.2643
1  4.864934e+06 -7536.6212
2  4.864950e+06 -7519.1524
3  4.864934e+06 -7524.5704
4  4.864982e+06 -7632.1436

In [7]:
# Convert the DataFrame to a GeoDataFrame
facilities = gpd.GeoDataFrame(geoData, geometry=gpd.points_from_xy(geoData.LONGITUDE, geoData.LATITUDE))

# Set the coordinate reference system (CRS) to EPSG 3857
facilities.crs = {'init': 'epsg:3857'}

# View the first five rows of the GeoDataFrame
facilities.head()

/home/ale/anaconda3/lib/python3.8/site-packages/pyproj/crs/crs.py:68: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

       LATITUDE  LONGITUDE                       geometry
0  4.864921e+06 -7541.2643  POINT (-7541.264 4864920.778)
1  4.864934e+06 -7536.6212  POINT (-7536.621 4864934.225)
2  4.864950e+06 -7519.1524  POINT (-7519.152 4864949.532)
3  4.864934e+06 -7524.5704  POINT (-7524.570 4864934.093)
4  4.864982e+06 -7632.1436  POINT (-7632.144 4864982.217)

In [9]:
# Create a map
#ax = regions.plot(figsize=(8,8), color='whitesmoke', linestyle=':', edgecolor='black')
facilities.to_crs(epsg=32630).plot(markersize=1, ax=ax)

NameError: name 'ax' is not defined

In [10]:
# The "Latitude" and "Longitude" columns are unchanged
facilities.to_crs(epsg=32630).head()

       LATITUDE  LONGITUDE                        geometry
0  4.864921e+06 -7541.2643  POINT (750341.347 4431095.994)
1  4.864934e+06 -7536.6212  POINT (750344.570 4431106.385)
2  4.864950e+06 -7519.1524  POINT (750357.584 4431118.521)
3  4.864934e+06 -7524.5704  POINT (750353.817 4431106.588)
4  4.864982e+06 -7632.1436  POINT (750270.092 4431140.640)

In [12]:
# Libraries
import pandas as pd

# read the data (on the web)
data = pd.read_csv('https://raw.githubusercontent.com/holtzy/The-Python-Graph-Gallery/master/static/data/TweetSurfData.csv', sep=";")

# Check the first 2 rows
data.head()

   homelon  homelat  homecontinent   n
0  -178.12   -14.29      Australia  10
1  -172.10   -13.76            NaN   2
2  -159.72    21.97            NaN   6
3  -159.59    21.91  North America   4
4  -159.53    22.10  North America  37