# 1_PRREDICT FLOOR

# Import libraries

In [1]:
# basic
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# estimators


from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
#from sklearn.linear_model import LinearRegression, Ridge, Lasso

# Classification Models
from sklearn.svm import LinearSVC
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

# tools
from sklearn.model_selection import train_test_split

# regression model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

# classification model metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#Hyper parameter tuning
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

# To save the ML models
import joblib

# Import Data

In [2]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/Data/'
 
file = "0_DataPrepro.csv"

Tdata = pd.read_csv(path + file)

Tdata.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,100,100,100,100,100,100,100,100,100,100,...,100,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,100,100,100,100,100,100,100,100,100,100,...,100,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,100,100,100,100,100,100,100,-97,100,100,...,100,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,100,100,100,100,100,100,100,100,100,100,...,100,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,100,100,100,100,100,100,100,100,100,100,...,100,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

# Cascade Model

Also remember the cascade model thing. Predict first one thing, then another, then another etc.. in every iteration we add the features we want to predict.

Steps
1. Keep Useful features
2. dummify
3. sample to iterate, but just to trial error 
4. X-y Split
5. Multicolinearity check
6. train/test Split
7. apply the model & performace metrics

##  2. Predict Floor 

As i'm using the cascade method, there will be one model for each feature i want to predict. each one will include a new feature. 

- **Predictors / Input**  > WAPS[0..520), BUILDINGID
- **Predicted / Output** > Floor

## 2.1 Keep Usefull features

In [3]:
# make a copy of the dataset, keeping only the predictor/predicted features
Tdata_Floor = Tdata.drop(columns = ['LONGITUDE', 'LATITUDE', 'SPACEID', 'RELATIVEPOSITION', 'USERID', 'PHONEID', 'TIMESTAMP'])

Tdata_Floor.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520,FLOOR,BUILDINGID
0,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,2,1
1,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,2,1
2,100,100,100,100,100,100,100,-97,100,100,...,100,100,100,100,100,100,100,100,2,1
3,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,2,1
4,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,0,0

### 2.2 Dummify

Now, as there is a categorical variable that will be used as a predictor (input) is important to dummify (binarize) it.

In [4]:
Tdata_Floor = pd.get_dummies(Tdata_Floor, columns = ['BUILDINGID'])
Tdata_Floor.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520,FLOOR,BUILDINGID_0,BUILDINGID_1,BUILDINGID_2
0,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,2,0,1,0
1,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,2,0,1,0
2,100,100,100,100,100,100,100,-97,100,100,...,100,100,100,100,100,100,2,0,1,0
3,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,2,0,1,0
4,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,0,1,0,0

## 2.3 Sample Data

As there is a lot of data, is a good idea to fail faster with a reduced proportion of the data

In [5]:
sample =  Tdata_Floor

In [6]:
Tdata_Floor = sample.sample(frac =.45, random_state= 200)

print("Len of the DF :" + str(len(Tdata_Floor)))

#Tdata_Building.head()

Len of the DF :8972

## 2.4 X/y Split

In [7]:
y_floor = Tdata_Floor.iloc[:,520:521]
X_floor = Tdata_Floor.drop(columns = ['FLOOR'])


X_floor.head() # check predictors

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520,BUILDINGID_0,BUILDINGID_1,BUILDINGID_2
998,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,0,1,0
2013,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,0,0,1
1665,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,0,0,1
6188,100,100,100,100,100,100,100,100,100,100,...,100,100,-83,-85,100,100,100,0,0,1
2671,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,0,0,1

In [8]:
y_floor.head() # check predicted

      FLOOR
998       2
2013      3
1665      2
6188      0
2671      3

## 2.5 Multicolinearity

For reference, the goal of regression is to isolate the relationship between each independent variable and the dependent variable. Multicollinearity weakens the statistical power of your model, thus leaving you unable to trust the p-values identifying which independent variables are statistically significant. In summary, multicollinearity won’t let you know the true effect of each variable.

### Calculate the Variance Inflation Factor (VIF).
VIF measures the collinearity among independent variables within a regression model. Then remove the multicorrelated features. 

https://kaiserm.medium.com/how-to-tackle-multicollinearity-79afe58e9479

In [9]:
from statsmodels.stats.outliers_influence import variance_inflation_factor


# Compute VIF
vif = pd.DataFrame()
vif["variables"] = X_floor.columns
vif["VIF"] = [variance_inflation_factor(X_floor.values, i) for i in range(X_floor.shape[1])]

vif

/home/ale/anaconda3/lib/python3.8/site-packages/statsmodels/regression/linear_model.py:1715: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/home/ale/anaconda3/lib/python3.8/site-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

        variables       VIF
0          WAP001  1.240144
1          WAP002  1.593915
2          WAP003  0.000000
3          WAP004  0.000000
4          WAP005  1.471792
..            ...       ...
518        WAP519  1.137789
519        WAP520  0.000000
520  BUILDINGID_0       inf
521  BUILDINGID_1       inf
522  BUILDINGID_2       inf

[523 rows x 2 columns]

### create a list with the features that exceeds the VIF treshold value
The [documentation](https://www.statsmodels.org/stable/generated/statsmodels.stats.outliers_influence.variance_inflation_factor.html) states that an independent variable is highly collinear with other independent variables when VIF > 5, and the parameter estimates will have large standard errors because of this.

In [10]:
count = 0
VIF_blackList = []

correlated_columns = []
for i in range(len(vif)):
    if vif.loc[i,"VIF"] >= 5:
        VIF_blackList.append(vif.loc[i,'variables'])
#        print(vif.loc[i,'variables'],vif.loc[i,'VIF'] )
        count += 1
print("Wap's with a VIF >= 5  -> " + str(count))

# uncomment to see the list of features to remove
VIF_blackList

Wap's with a VIF >= 5  -> 89

['WAP013',
 'WAP014',
 'WAP015',
 'WAP016',
 'WAP035',
 'WAP040',
 'WAP051',
 'WAP052',
 'WAP053',
 'WAP054',
 'WAP080',
 'WAP081',
 'WAP089',
 'WAP090',
 'WAP091',
 'WAP099',
 'WAP101',
 'WAP102',
 'WAP103',
 'WAP104',
 'WAP105',
 'WAP106',
 'WAP115',
 'WAP116',
 'WAP119',
 'WAP120',
 'WAP123',
 'WAP124',
 'WAP125',
 'WAP126',
 'WAP129',
 'WAP130',
 'WAP134',
 'WAP135',
 'WAP136',
 'WAP137',
 'WAP138',
 'WAP139',
 'WAP148',
 'WAP149',
 'WAP153',
 'WAP155',
 'WAP156',
 'WAP161',
 'WAP162',
 'WAP163',
 'WAP166',
 'WAP167',
 'WAP178',
 'WAP179',
 'WAP191',
 'WAP192',
 'WAP193',
 'WAP194',
 'WAP201',
 'WAP202',
 'WAP203',
 'WAP204',
 'WAP208',
 'WAP209',
 'WAP225',
 'WAP253',
 'WAP258',
 'WAP262',
 'WAP279',
 'WAP283',
 'WAP286',
 'WAP288',
 'WAP305',
 'WAP317',
 'WAP335',
 'WAP340',
 'WAP342',
 'WAP362',
 'WAP363',
 'WAP368',
 'WAP391',
 'WAP398',
 'WAP413',
 'WAP414',
 'WAP492',
 'WAP493',
 'WAP498',
 'WAP499',
 'WAP513',
 'WAP514',
 'BUILDINGID_0',
 'BUILDINGID_1',
 'BUILDINGID_2']

### remove from the VIF_blackList

In [11]:
X_floor = X_floor.drop(columns = VIF_blackList)
X_floor.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP509,WAP510,WAP511,WAP512,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520
998,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
2013,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
1665,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
6188,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,-83,-85,100,100,100
2671,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100

## 2.6 Train/Test Split

In [12]:
# define X and y
X = X_floor
y = y_floor

# define train/test_ratio
train_ratio = 0.75
test_ratio = 0.25

# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=(1-train_ratio) )

# check dimensions
print('DF: ', Tdata_Floor.shape)
print('X:', X.shape,'y:', y.shape)
print('X_train:', X_train.shape,'y_train:', y_train.shape)
print('X_test: ', X_test.shape,' y_test: ', y_test.shape)

DF:  (8972, 524)
X: (8972, 434) y: (8972, 1)
X_train: (6729, 434) y_train: (6729, 1)
X_test:  (2243, 434)  y_test:  (2243, 1)

## 2.7 Models

### 2.7.1 k-NN Classifier

also check radiusKnn, says it's better for large datasets https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.RadiusNeighborsClassifier.html#sklearn.neighbors.RadiusNeighborsClassifier

In [13]:
# define an empty dict to store the performance of different values of K
knn_performance = {}

for k in range(1,10):
    knn = KNeighborsClassifier(k, weights='distance')
    # train
    knn.fit(X_train, y_train.values.ravel())
    #get predictions
    knn_pred = knn.predict(X_test)
    # calculate the performance
    knn_accuracy = round(accuracy_score(y_test, knn_pred), 4)
    # store the performance in a dict
    knn_performance[k] = knn_accuracy

    
knn_performance_sorted = sorted(knn_performance.items(), key=lambda item:item[1], reverse=True)

# shows the full list sorted
for i in knn_performance_sorted: print("k = " + str(i[0]) + " , accuracy: " + str(i[1]))

# shows only the best resultb
print("k = " + str(knn_performance_sorted[0][0]) + " , accuracy (on test set): " + str(knn_performance_sorted[0][1]))

k = 1 , accuracy: 0.9273
k = 2 , accuracy: 0.9273
k = 4 , accuracy: 0.9247
k = 3 , accuracy: 0.922
k = 6 , accuracy: 0.9162
k = 5 , accuracy: 0.9126
k = 7 , accuracy: 0.9108
k = 8 , accuracy: 0.9086
k = 9 , accuracy: 0.9046
k = 1 , accuracy (on test set): 0.9273

In [21]:
# print the full list of parametrizable parameters
knn.get_params(deep=True)

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 9,
 'p': 2,
 'weights': 'distance'}

In [22]:
model = KNeighborsClassifier() 

# print the full list of parametrizable parameters
# model.get_params(deep=True)

In [97]:
#Setup the parameters and distributions to sample from: param_dist
cv = 5
n_jobs = -1 # uses all the processors
param_dist_LR = {'algorithm': ["auto"],# "ball_tree", "kd_tree", "brute"], 
                 'leaf_size': [2,4],
                 #'metric': 'minkowski',
                 #'metric_params': None,
                 #'n_jobs': None,
                 'n_neighbors': [1,2,4],
                 #'p': 2,
                 'weights': ["uniform", "distance"]
                }

#KNN_RSCV = RandomizedSearchCV(model, param_dist_LR, cv=cv, n_jobs=n_jobs)
KNN_GSCV = GridSearchCV(model, param_dist_LR, cv=cv, n_jobs=n_jobs)

In [98]:
# Fit it to the data
KNN_GSCV.fit(X_train,y_train.values.ravel())

# Print the tuned parameters and score
print("Tuned Decision KNN-CV Parameters: {}".format(KNN_GSCV.best_params_))
#print("Tuned Decision KNN-CV Best Score: {}".format(KNN_GSCV.best_score_))

Tuned Decision KNN-CV Parameters: {'algorithm': 'auto', 'leaf_size': 2, 'n_neighbors': 1, 'weights': 'uniform'}

In [99]:
# Make Predictions
RF_predictions = RF_GSCV.predict(X_test)

# Evaluate Predictions
print("Accuracy RF: {}".format(accuracy_score(y_test, RF_predictions)))
print(confusion_matrix(y_test, RF_predictions))
print(classification_report(y_test, RF_predictions))

Accuracy RF: 0.9500668747213553
[[486  17   1   0   0]
 [ 14 514   8   6   0]
 [  1  25 464   9   0]
 [  9   0  12 541   0]
 [  0   0   0  10 126]]
              precision    recall  f1-score   support

           0       0.95      0.96      0.96       504
           1       0.92      0.95      0.94       542
           2       0.96      0.93      0.94       499
           3       0.96      0.96      0.96       562
           4       1.00      0.93      0.96       136

    accuracy                           0.95      2243
   macro avg       0.96      0.95      0.95      2243
weighted avg       0.95      0.95      0.95      2243

### save k-NN
In machine learning, while working with scikit learn library, we need to save the trained models in a file and restore them in order to reuse it to compare the model with other models, to test the model on a new data. The saving of data is called **Serialization**, while restoring the data is called **Deserialization**.
Also, we deal with different types and sizes of data. Some datasets are easily trained i.e- they take less time to train but the datasets whose size is large (more than 1GB) can take very large time to train on a local machine even with GPU. When we need the same trained data in some different project or later sometime, to avoid the wastage of the training time, store trained model so that it can be used anytime in the future. 
There are two ways we can save a model in scikit learn:
 
**Pickled** model as a file using joblib: Joblib is the replacement of pickle as it is more efficient on objects that carry large numpy arrays. These functions also accept file-like object instead of filenames.
     

- joblib.dump to serialize an object hierarchy 
- joblib.load to deserialize a data stream

In [104]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/'
file = "Floor_KNN.joblib"
model = KNN_GSCV
 
# Save the model as a pickle in a file
joblib.dump(model, path+file)

['/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/Floor_KNN.joblib']

### Load k-NN

In [105]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/'
file = 'Floor_KNN.joblib'

# Load the model from the file
KNN_from_joblib = joblib.load(path + file)

# Use the loaded model to make predictions
print(accuracy_score(y_test, KNN_from_joblib.predict(X_test)))

0.927329469460544

### 2.7.2 Random Forest Classifier

In [50]:
RF = RandomForestClassifier()

# print the full list of parametrizable parameters
#RF.get_params(deep=True)

In [50]:
#Setup the parameters and distributions to sample from: param_dist
cv = 3
n_jobs = -1
param_dist = {#'bootstrap': True, 
              #'ccp_alpha': 0.0,
              #'criterion': 'mse',
              'n_estimators': [10,12,20,40], # numers of trees
              'max_features': ['auto'],# 'sqrt', 'log2'], # max number of features to consider at every split
              'max_depth':[30, 60, 90, 120], # max number of levels in tree
              'min_samples_split':[2,4],  # min number of samples required to split a node
              'min_samples_leaf': [2,4]  # min number of samples required at each leaf node
              #'max_leaf_nodes': None,
              #'max_samples': None,
              #'min_impurity_decrease': 0.0, 
              #'min_impurity_split': None, 
              #'min_weight_fraction_leaf': 0.0,           
              #'n_jobs': None, 
              #'oob_score': False, 
              #'random_state': None,
              #'verbose': 0, 
              #'warm_start': False
             }

# instantiate the RandomizedSearchCV object: model_cv
#RF_RSCV = RandomizedSearchCV(RF, param_dist, cv=cv, n_jobs = n_jobs)
RF_GSCV = GridSearchCV(RF, param_dist, cv=cv, n_jobs = n_jobs)

In [52]:
# Fit it to the data
#RF_RSCV.fit(X_train,y_train.values.ravel())
RF_GSCV.fit(X_train,y_train.values.ravel())

# Print the tuned parameters and score
#print(" - Random Search CV - ")
#print("Tuned Decision Tree Parameters: {}".format(RF_RSCV.best_params_))
#print("Tuned Decision Tree estimatora: {}".format(RF_RSCV.best_estimator_))
#print("Tuned Decision Tree Best Score: {}".format(RF_RSCV.best_score_))

# Print the tuned parameters and score
print(" - Grid Search CV - ")
print("Tuned Decision Tree Parameters: {}".format(RF_GSCV.best_params_))
print("Tuned Decision Tree Best Score: {}".format(RF_GSCV.best_score_))

 - Grid Search CV -
Tuned Decision Tree Parameters: {'max_depth': 90, 'max_features': 'auto', 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 40}
Tuned Decision Tree Best Score: 0.9424877396344181

In [54]:
# Make Predictions
RF_predictions = RF_GSCV.predict(X_test)

# Evaluate Predictions
print("Accuracy LR: {}".format(accuracy_score(y_test, RF_predictions)))
print(confusion_matrix(y_test, RF_predictions))
print(classification_report(y_test, RF_predictions))

0.9500668747213553
[[486  17   1   0   0]
 [ 14 514   8   6   0]
 [  1  25 464   9   0]
 [  9   0  12 541   0]
 [  0   0   0  10 126]]
              precision    recall  f1-score   support

           0       0.95      0.96      0.96       504
           1       0.92      0.95      0.94       542
           2       0.96      0.93      0.94       499
           3       0.96      0.96      0.96       562
           4       1.00      0.93      0.96       136

    accuracy                           0.95      2243
   macro avg       0.96      0.95      0.95      2243
weighted avg       0.95      0.95      0.95      2243

### save RF

Joblib is an efficient object operator that carry large numpy arrays. These functions also accept file-like object instead of filenames.
     

    joblib.dump to serialize an object hierarchy 
    joblib.load to deserialize a data stream

In [106]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/'
file = 'Floor_RF.joblib'
model = RF_GSCV
 
# Save the model as a pickle in a file
joblib.dump(model, path+file)

['/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/Floor_RF.joblib']

### Load k-NN

In [107]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/'
file = 'Floor_RF.joblib'

# Load the model from the file
RF_from_joblib = joblib.load(path + file)

# Use the loaded model to make predictions
print(accuracy_score(y_test, RF_from_joblib.predict(X_test)))

0.9500668747213553

### 2.7.3 Log Regression

In [78]:
model = LogisticRegression()

# print the full list of parametrizable parameters
# LogReg.get_params(deep=True)

#Setup the parameters and distributions to sample from: param_dist
cv = 3
n_jobs = -1 # uses all the processors
param_dist_LR = {#'C': 1.0,
              #'class_weight': None,
              #'dual': False,
              #'fit_intercept': True,
              #'intercept_scaling': 1,
              #'l1_ratio': None,
              'max_iter' : [600, 800, 900],
              #'multi_class': 'auto',
              #'n_jobs': n_jobs,
              'penalty': ['none'], #'elasticnet', 'l1', 'l2', 
              #'random_state': random_state,
              'solver': ['saga'], # 'sag', 
              #'tol': 0.0001,
              #'verbose': 0,
              'warm_start': ["False"] # "True", 
}

#LR_RSCV = RandomizedSearchCV(model, param_dist_LR, cv=cv, n_jobs=n_jobs)
LR_GSCV = RandomizedSearchCV(model, param_dist_LR, cv=cv, n_jobs=n_jobs)

In [79]:
# Fit it to the data
LR_GSCV.fit(X_train,y_train.values.ravel())

# Print the tuned parameters and score
print("Tuned Decision LogReg Parameters: {}".format(LR_GSCV.best_params_))

/home/ale/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:922: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.86000892 0.85807698        nan        nan
 0.85867142 0.85822559 0.85852281 0.85540199]
  warnings.warn(

Tuned Decision LogReg Parameters: {'warm_start': 'False', 'solver': 'saga', 'penalty': 'none', 'max_iter': 600}

/home/ale/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [80]:
# Make Predictions
LR_predictions = LR_GSCV.predict(X_test)

# Evaluate Predictions
print("Accuracy LR: {}".format(accuracy_score(y_test, LR_predictions)))
print(confusion_matrix(y_test, LR_predictions))
print(classification_report(y_test, LR_predictions))

Accuracy LR: 0.8689255461435578
[[463  37   0   4   0]
 [ 29 479  25   9   0]
 [  5  34 413  47   0]
 [  8  10  64 471   9]
 [  0   0   0  13 123]]
              precision    recall  f1-score   support

           0       0.92      0.92      0.92       504
           1       0.86      0.88      0.87       542
           2       0.82      0.83      0.83       499
           3       0.87      0.84      0.85       562
           4       0.93      0.90      0.92       136

    accuracy                           0.87      2243
   macro avg       0.88      0.87      0.88      2243
weighted avg       0.87      0.87      0.87      2243

### save LR

Joblib is an efficient object operator that carry large numpy arrays. These functions also accept file-like object instead of filenames.
     

    joblib.dump to serialize an object hierarchy 
    joblib.load to deserialize a data stream

In [90]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/'
file = 'Floor_LR.joblib'
model = LR_GSCV

# Save the model as a pickle in a file
joblib.dump(model, path + file)

['/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/Floor_LR.joblib']

### Load k-NN

In [91]:
path = '/home/ale/Dropbox/UBIQUM/4.DeepAnalytics&Visualization/T4M3.WiFiLocationing/'
file = 'Floor_LR.joblib'

#Load the model from the file
LR_from_joblib = joblib.load(path + file)

# Use the loaded model to make predictions
print(accuracy_score(y_test, LR_from_joblib.predict(X_test)))

0.8689255461435578

# DUDAS

que onda los inf de building_0, 1, 2... tienen un VIF >=5, es correcto eliminarlos?